n8n-workflows/tiktok-excel-scheduled.json
{
  "name": "TikTok Excel Auto-Post (Advanced)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/30 * * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "D:\\project\\ToolAuto\\tiktok-shopee-automation\\data\\posts.xlsx",
        "options": {}
      },
      "id": "read-excel",
      "name": "Read Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "operation": "equals",
              "value2": "NEW"
            }
          ]
        }
      },
      "id": "filter-new",
      "name": "Filter NEW Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "cd D:\\project\\ToolAuto\\tiktok-shopee-automation && npm run download:ytdlp"
      },
      "id": "download-videos",
      "name": "Download Videos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "amount": 60,
        "unit": "seconds"
      },
      "id": "wait-download",
      "name": "Wait for Download",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "operation": "executeCommand",
        "command": "cd D:\\project\\ToolAuto\\tiktok-shopee-automation && node scripts/facebook-publisher-simple.js"
      },
      "id": "post-to-facebook",
      "name": "Post to Facebook",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "to": "your-email@example.com",
        "subject": "✅ Videos Posted to Facebook",
        "text": "={{ $json.stdout }}"
      },
      "id": "notify-success",
      "name": "Email Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Schedule Every 30 min": {
      "main": [
        [
          {
            "node": "Read Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel": {
      "main": [
        [
          {
            "node": "Filter NEW Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter NEW Status": {
      "main": [
        [
          {
            "node": "Download Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Videos": {
      "main": [
        [
          {
            "node": "Wait for Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Download": {
      "main": [
        [
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Email Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
